.button {
	background: linear-gradient(20deg,#8673e5,#d958a4);
	border-radius: 30px;
	padding: 14px 0;
	flex: 1;
	font-weight: bold;
}

img {
	width: 100%;
	height: 100%;
}

.el-dialog {
	--el-dialog-width: 100vw !important;
	width: 100vw !important;
	height: 90vw !important;
	margin-left: 0 !important;
	display: flex;
	flex-direction: column;
}
ul {
	padding: 0;
}
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}